<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three_Photos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68AC6492217947AA00F28102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AC64A6217947AA00F28102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AC64B1217947AA00F28102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
